.App {
  text-align: center;
}

.MainSection{
  background-image: url(bckgrnd612.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
  padding-bottom: 23em;

}

.MainSection h1{
  text-align: center;
  font-style: oblique;
}

footer{
  background-color : grey;
  padding-bottom:5.7em
}


.Logo{
  width:10%;
  height:10%;
  position: relative;
  top:-3em;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
